 <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>fZip!</title>

		<link rel='stylesheet' href='/assets/css/styles.css'>
		<link rel="stylesheet" href="/assets/css/bootstrap.css">
	</head>

	<body>
	<header>

		<div class='page-header jumbotron'>
			<h1>zip your files!</h1>
			<h2> Node file</h2>
		</div>
		
	</header>
 <h2 class='success'>file succesfully processed.
 <br> check your desktop for the zipped file.<h2><br>
 <a href="/">Zip another file</a>

	<script src='assets/js/main.js'></script>
	</body>

</html>
